

<div class="row" id="exp1">
    <h1>Educacion</h1>
</div>
    <div class="row" id="datos">
       <ul>
            <li>
                <h1>Estudios 1</h1> - <h3>(Years)</h3>
            </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ad maiores quam alias porro omnis adipisci facilis facere esse libero.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 2</h1> - <h3>(Years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ad maiores quam alias porro omnis adipisci facilis facere esse libero.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 3</h1> - <h3>(Years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ad maiores quam alias porro omnis adipisci facilis facere esse libero.</p>
        </ul>

</div>
