/* .row{
    padding: 20px;
}

div{
    background-color: #a1b5cb;
}
 */

.row{
    padding: 10px;
}

div{
    
    position: relative;
    top: 300px;
}
#exp1{
    /* position: relative; */
    width: 100%;
    top: 210px;
    padding: 30px;
    box-shadow: 2px -2px 5px #999;
}

#datos{
    position: relative;
    width: 100%;
    top: 220px;

}

@media (max-width: 575px){
    #exp1{
        position: relative;
        width: 100%;
        left: 0%;
        top: 295px;
        
        
    }
    #datos{
        position: relative;
        width: 100%;
        top: 300px;
    }

}


h1,h3{
    display: inline;
}