

footer{
    color: #ffffff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
    position: relative;
    top: 180px;
    background-color: rgb(105, 121, 151);
    
}
