div{
    /* background-color: #a1b5cb; */
    background: rgba(0, 0, 0, 0.705);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(17, 17, 17, 0.678);
    height: 700px;
  
    
}

app-social{
    float: right;
    margin-top: 15px;
    
}

#banner1{
    width: 100%;
}
@media (max-width: 575px) {
    #banner1{
        width: 600px;
        height: 670px;
    }

}