 .row{
    padding: 10px;
}

div{
    
    position: relative;
    top: 300px;
}
#exp1{
    
    width: 35%;
    top: 200px;
}

#datos{
    position: relative;
    width: 100%;
    top: 203px;

}

@media (max-width: 575px){
    #exp1{
        position: relative;
        width: 100%;
        left: 0%;
        top: 280px;
        
        
    }
    #datos{
        position: relative;
        width: 100%;
        top: 290px;
    }

}
h1{
    
    padding: 30px;
    box-shadow: 2px -2px 5px #999;
}


