#bg-contactos {
    position: relative;
    top: -200px;
    padding: 90px;
}

#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;



}



/*  =========================== CONTACTOS BACKGROUND ========================= */


#contenedor-formulario {
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario {
    color: #3f3f3f;

}