
    <div id="bg-contactos">
      
    
<div class="container"
            id="contenedor-formulario">
            <div class="titulo-formulario" class="text-center mb-4">
              <div><img src="../../../assets/contacto.png" alt="contacto" class="img-fluid"></div>
              <h2>Contactos</h2>
              <p class="fs-5">Estamos aqui para hacer realidad de tus proyectos.</p>
            </div>
              
                <div class="mb-3">
                  
                  <input type="email" class="form-control" 
                  id="email" placeholder="nombre@ejemplo.com required">
                </div>
                

                  <div class="mb-3">
                  
                    <input type="text" class="form-control" 
                    id="Nombre" placeholder="Adrian Sanchez required">
                  </div>
                  <div class="mb-3">
                    <div class="mb-3">
                  
                      <input type="tel" class="form-control" 
                      id="tel" placeholder="000-000-000 required">
                    </div>
                    <div class="mb-3">
                  
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Escribe tu mensaje.</textarea>
                </div>
                <div class="mb-3">
                  <button type="button" class="btn btn-primary w-100 fs-5">Enviar Mensaje</button>

                </div>
              
            </div>

        </div>