<div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/hacker-5471975_1280.png" 
            class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-lg-1">
            <p id="nombre">Javier Lezcano</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsum sequi dolorem, 
                    minima vel nisi tempore deserunt, minus blanditiis autem saepe obcaecati 
                    ab ut nostrum atque. Doloremque quaerat excepturi consectetur?
                </p>
            </span>
        </div>
    </div>
</div>
