.row {
    padding: 20px;



}


/*estilo foto de perfil*/

@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;

        left: 1%;
        top: 550px;

    }

}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 48%;
        border-radius: 30%;
        box-shadow: 3px 3px 3px rgb(230, 6, 6);
        left: 25%;
        top: 550px;
    }
}



/*etiqueta nombre*/

#tag1 {
    /* background-color: aqua; */
    position: absolute;
    width: 15%;
    height: 10%;
    right: 83%;
    top: 870px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;


    font-size: x-large;
    background: rgba(184, 25, 25, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(236, 19, 19, 0.05);
    border-radius: 5%;




}

#text1 {
    /* background-color: aquamarine;  */
    position: relative;
    width: 70%;

    bottom: 40px;
    right: 5%;




}

@media(max-width: 575px) {

    #tag1 {
        position: absolute;
        width: 50%;
        left: 25%;
        top: 850px;

    }

}

@media (max-width: 575px) {

    #text1 {
        position: absolute;
        width: 100%;
        top: 950px;
        left: 0;

    }

}

.botonedi {
    position: absolute;
    width: 200px;
    top: 93%;
    left: 75%;
}