.row{
    padding: 18px;

    width: 90%;
    
    
} 

 #img3{
    position: relative;
    width: 100%;
    top: 20px; 
    left: 50px;
    background-color: rgba(6, 230, 230, 0.301);
} 


#proyecto1{
    position: relative;
    width: 1220px;
    left: 154px;
    background-color: rgb(108, 136, 173);
    top: 240px;
    background: rgba(3, 3, 3, 0.514);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(17, 17, 17, 0.05);
     color: rgb(245, 122, 8);
}

@media(max-width: 575px){
    #proyecto1{
        position: relative;
        top: 360px;
        width: 547px;
        left: 5px;
    }
}