.row{
    padding: 40px;
   
    
}

#titulo3{
    position: relative;
    width: 100%;
    top: 185px;
    box-shadow: 2px -2px 5px #999;
    background: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.05);
}

#img3{
    position: relative;
    width: 100%;
    top: 50px; 
    background-color: rgba(9, 236, 236, 0.301);
}
@media(max-width: 575px){
    #titulo3{
        position: relative;
        width: 100%;
        top: 30px;
    }
}

