/* .row {

  
    position: relative;
    width: 100%;
    top: 140px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 20px;
}

@media (max-width: 575px) {
    #skills {
        position: relative;
        top: 30px
    }

}

h1,
h3 {

    padding: 30px;
    color: aliceblue;
}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;

} */

.row {

    
    position: relative;
    width: 80%;
    left: 10%;
    top: 160px;
    padding: 30px;
    background: rgba(3, 3, 3, 0.514);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(17, 17, 17, 0.05);
    padding: 20px;
}

@media (max-width: 575px) {
    #skills {
        position: relative;
        top: 320px;
        width: 545px;
        left: 5px;
    }

}


h3 {

    padding: 30px;
    color: aliceblue;
}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    color: rgb(245, 122, 8);
    font-size: 35px;
}