

<div class="row" id="skills">
    <h1>Hard y Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../../../assets/html-5.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  
></circle-progress>

</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="100"
  [imageSrc]="'../../../assets/css-3.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  
  [showSubtitle]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [imageSrc]="'../../../assets/js.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="20"
  [radius]="100"
  [imageSrc]="'../../../assets/python.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [imageSrc]="'../../../assets/github.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]="'../../../assets/socios.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'black'"
  [animation]="true"
  [animationDuration]="300"
  
></circle-progress>
</div>
</div>

