#login1 {
    position: relative;
    background-image: url(../../../assets/Blue_dazzling_lines_dark_background_4K_HD_3840x2400.jpg);
    width: 70%;
    height:540px;
    top: 150px;
    left: 10px;
    background: rgba(17, 17, 17, 0.452);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(3, 3, 3, 0.808);

}

.bg {
    background-image: url(../../../assets/software-developer-g8d94a41bc_1280.jpg);

    background-position: center center;

}

h2{
    color: rgb(255, 255, 254);
}

#usu1{
    color: rgb(255, 255, 255);;
    }

    @media (max-width: 800px){
        #login1{
            width: 100%;
            
        }
    }