<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login\Bootstrap</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">


    <style>
        body {

            background-image: url(../../../assets/Evening\ Night.jpg);



        }

        .bg {
            background-image: url(../../../assets/software-developer-g8d94a41bc_1280.jpg);

            background-position: center center;

        }
    </style>




</head>



<body>
<div class="container w-75  mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

        </div>
        <div class="col p-5 rounded-end">
            <div class="text-end">
                <img src="../../../assets/arg-programa.png" width="40%" alt="">
            </div>
            <h2 class="fw-bold text-center py-5">Bienvenido al Portfolio</h2>


            <!-- LOGIN -->

            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="mb-4">
                    <label for="email" class="form-label">Usuario</label>
                    <input type="email" id="nombreUsuario" class="form-control" name="nombreUsuario"[(ngModel)]="nombreUsuario" required/>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" name="password" [(ngModel)]="password" required/>
                </div>
                <div class="mb-4 form-check">
                    <input type="checkbox" name="connected" class="form-check-input" id="">
                    <label for="connected" class="form-check-label">Mantenerme conectado</label>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>


              <div class="my-3 text-center" >
                    <span>No tienes cuenta? <a href="#">Registrate</a></span> <br>
                    <!-- <span><a href="#">Recuperar Password</a></span> -->
                </div>
            </form>


            <!-- LOGIN CON REDES SOCIALES -->

            <div class="container w-100 my-5"></div>
                    <div class="row text-center">
                        <div class="col-12">Mis Redes</div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-dark w-100 my-1">
                                <div class="row align-items-center">
                                   <div class="col-2 d-none d-md-block">
                                    <img src="../../../assets/github.png" width="32" alt="">
                                   </div>
                                   <div class="col-12 col-md-10 text-center">
                                    GitHub
                                   </div>
                                </div>
                            </button>

                        </div>
                        <div class="col">
                            <button class="btn btn-outline-info w-100 my-1">
                                <div class="row align-items-center">
                                   <div class="col-2 d-none d-md-block">
                                    <img src="../../../assets/linkedin.png" width="32" alt="">
                                   </div>
                                   <div class="col-12 col-md-10 text-center">
                                    Linkedin
                                   </div>
                                </div>
                            </button>
                        </div>
                    </div>


        </div>
    </div>
</div>




    <!-- <script src="bootstrap.bundle.min.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>