
html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: rgb(238, 245, 244); 
    background: #000000;  /* fallback for old browsers */


    
   /*  imagen de fondo */
    background-image: url(../src/assets/527950.jpg);
    width: 100%;
}